body{
    --base-color: #c0c0c0;
    --base-variant: #acacac;
    --primary-color: #00ffff;
    --secondary-color: #006d6d;
    --accent-color: #002574;
    background-color: var(--base-color);
    display: flex;
    flex-wrap: wrap;
}
.darkmode{
    --base-color: #121212;
    --base-variant: #000000;
    --primary-color: #bb0000;
    --secondary-color: #ff0000;
    --accent-color: #550000;
}
h1{
    background-color: var(--base-variant);
    width: fit-content;
    height: fit-content;
    color: var(--primary-color);
    border: 3px double var(--primary-color);
    border-radius: 5px;
    padding: 2px;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--accent-color);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
ul{
    list-style: none;
    background-color: var(--accent-color);
    width: 550px;
    color: var(--primary-color);
    border: 2px double var(--primary-color);
    border-radius: 5px;
    padding: 2px;
}
h4{
    background-color: var(--base-variant);
    width: fit-content;
    height: fit-content;
    color: var(--primary-color);
    border: 3px double var(--primary-color);
    border-radius: 5px;
    padding: 2px;
}
.card{
    width: fit-content;
    height: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.container{
    padding: 2px 16px;
}
.about{
    display:flex;
}
.Intro{
    background-color: var(--base-variant);
    width: 200px;
    height: fit-content;
    margin-top: 150px;
    margin-block: 75px;
    color: var(--primary-color);
    border: 3px double var(--primary-color);
    border-radius: 5px;
    padding: 2px;
}
.interests{
    width: fit-content;
    margin-left:10px;
}
.media{
    width: fit-content;
    margin-left:10px;
}
.goals{
    margin-top:0px;
    margin-left:55px;
}
.intention{
    background-color: var(--base-variant);
    width: 200px;
    height: fit-content;
    margin-top:75px;
    color: var(--primary-color);
    border: 3px double var(--primary-color);
    border-radius: 5px;
    padding: 2px;
}
.facts{
    margin-top: 55px;
}
.ach{
    display: flex;
    width: fit-content;
}
.beginning{
    width: fit-content;
    height: fit-content;
    margin-left: 320px;  
}
.dnd{
    border: 5px outset var(--primary-color);
    border-radius: 5px;
    padding: 0px;
} 
.overture{
    width: fit-content;
    height: fit-content;
}
.theater{
    border: 5px outset var(--primary-color);
    border-radius: 5px;
    padding: 0px;
}
.steam{
    width: fit-content;
    height: fit-content;
    border: 5px outset var(--primary-color);
    border-radius: 5px;
    padding: 2px;
} 
.SM{
    justify-content: center;
}
.insta button{
    display: grid;
    height: 50px;
    width: 50px;
}
a{
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    color:#360000

}
a:link{
    color: black;
    background-color: var(--primary-color);
}
a:visited{
    color: maroon
    background-color: var(--primary-color);
}
a:hover{
    color: rgb(255, 0, 0);
    background-color: var(--primary-color);
}
#theme-switch{
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
}
#theme-switch svg{
    fill: var(--primary-color);
}
#theme-switch svg:last-child{
    display: none;
}
.darkmode #theme-switch svg:first-child{
    display: none;
}
.darkmode #theme-switch svg:last-child{
    display: block;
}